# This project is divided into parts:

1) Part 1: Scraping OMDB using APIs<br>
2) Part 2: Setting up SQL in Jupyter Notebook<br>
3) Part 3: Setting up the Database

# Part 1

a) Go to http://www.omdbapi.com/ and make yourself familiar with the API and its use. Request an API Key from the page. Specifically, read "Usage", "Parameters", and "Examples", and write down the URL string that would search for all the movies containing the word "blade". Include it as a comment in your code script.

In [1]:
# First we need to obtain an api key through the website
api_key = "d09457b3"

# Next we create url containing api key and search term
url = "http://www.omdbapi.com/?apikey="+api_key+"&s=blade"

url

'http://www.omdbapi.com/?apikey=d09457b3&s=blade'

b) Write a program in Python or Java that executes the above API call and prints the result to the screen. You can use the parameters "Plot: Short" and "Response: JSON".

In [2]:
# Begin by importing all required packages
import requests
import json

In [3]:
# Set parameters
parameter = {"plot" : "Short", "r" : "JSON"}

In [4]:
# Request url and print JSON
response = requests.get(url, params = parameter)
blade = json.loads(response.text)
blade = blade["Search"]

In [5]:
# Pretty-print the JSON
pretty_blade = json.dumps(blade, indent=2, sort_keys=False)
print(pretty_blade)

[
  {
    "Title": "Blade Runner",
    "Year": "1982",
    "imdbID": "tt0083658",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg"
  },
  {
    "Title": "Blade Runner 2049",
    "Year": "2017",
    "imdbID": "tt1856101",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg"
  },
  {
    "Title": "Blade",
    "Year": "1998",
    "imdbID": "tt0120611",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg"
  },
  {
    "Title": "Blade II",
    "Year": "2002",
    "imdbID": "tt0187738",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg"
  },
  {
    "Title": "Blade: Trinity",
    "Year": "2004",
    "imdbID": "tt0359013",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg"
  },
  {
    "Title": "Sling Blade",
    "Year": "1996",
    "imdbID": "tt0117666",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg"
  },
  {
    "Title": "Dragon Blade",
    "Year": "2015",
    "imdbID": "tt3672840",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg"
  },
  {
    "Title": "Blade of the Immortal",
    "Year": "2017",
    "imdbID": "tt5084170",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg"
  },
  {
    "Title": "Shinobi: Heart Under Blade",
    "Year": "2005",
    "imdbID": "tt0475723",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg"
  },
  {
    "Title": "Blade Runner: Black Out 2022",
    "Year": "2017",
    "imdbID": "tt7428594",
    "Type": "movie",
    "Poster": "https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg"
  }
]

c) Parse the JSON string in (b) to an internal Python or Java object for further handling. Then write code that iterates through the search results and prints the imdbID results to the screen.

In [6]:
type(pretty_blade)

str

In [7]:
pretty_blade2 = json.loads(pretty_blade)

In [8]:
for r in pretty_blade2:
    print("imdbID :", r["imdbID"])

imdbID : tt0083658
imdbID : tt1856101
imdbID : tt0120611
imdbID : tt0187738
imdbID : tt0359013
imdbID : tt0117666
imdbID : tt3672840
imdbID : tt5084170
imdbID : tt0475723
imdbID : tt7428594

# Part 2

a) Install and run SQL on your machine. Use some GUI to see/test that it runs.

<b>Confirmed!</b>

b) What data types would you choose to store "imdb_id", "title", and "year" in? Why?

<b>imdb_id:</b> Use VARCHAR as it can contain letters, numbers (imdb_id is alphanumeric) and we know the length is 9 for the samples we queried. So, the length of the varchar can be 10 as it lets us to accommodate id values of variable lengths from 0 to 10.

<b>title:</b> Use VARCHAR as it can contain letters, numbers or special characters (title may be alphanumeric with special characters such as ":"). All the titles aren’t of same length, so we are using VARCHAR as the datatype. The maximum length is 200 to accommodate even the longest of the titles.

<b>year:</b> Use INT to store the year values as it is a numeric data. In this case, we need to convert the value from string to integer.

c) Do we need to create an additional column as a primary key to uniquely identify rows? If so, what column (type) do you propose? If not, which existing column can we use?

imdb_id looks like a unique identifier for every movie. But we couldn’t verify it from the API documentation. Also, since the imdb_id column is alphanumeric, it would take up more space if indexed as a primary key. So, for our use-case, we can create a numeric id as primary key column with auto increment feature. This will also let us keep track of the order in which data is being inserted into the table (higher values of id mean recently created records).

(d) Write a small program in Python or Java that (i) connects to your local SQL instance (MySQL, MariaDB, and SQLite are the only acceptable versions. Choose either at your convenience. Use user "root" and NO passwords), (ii) creates a database named "ucdavis", (iii) creates the table "omdb_test" containing the columns "imdb_id", "title", and "year". This small code will create an empty table.

In [10]:
# First, import the required package
import mysql.connector

In [11]:
# i) Connects to local SQL instance
db = mysql.connector.connect(host="localhost", 
                               user="root",
                               passwd="", 
                               use_pure=True)
mysql_db = db.cursor()

In [12]:
# ii) create database named "ucdavis"
mysql_db.execute("CREATE DATABASE IF NOT EXISTS ucdavis")
mysql_db.execute("USE ucdavis")

In [13]:
# iii) Create a table named omdb_test with columns "imdb_id", "title" and "year"
mysql_db.execute("CREATE TABLE IF NOT EXISTS omdb_test (id INT PRIMARY KEY, imdb_id VARCHAR(10) UNIQUE, title VARCHAR(200)," + 
                 "year INT)")

# Part 3

a) Write a program in Python or Java that uses the OMDb API to lookup/search _your_ top 10 choices of movie titles and extract their imdbIDs. Print the movie titles along with their imdbID to the screen. (E.g., search for "Dangal" or "Wolf Warrior 2" and record the imdbID that corresponds to the exact movie you have in mind).

In [14]:
# Creating the list of 10 movies
movies = ["Blow", 
          "Life is Beautiful", 
          "The Shawshank Redemption", 
          "Schindler's List", 
          "Pulp Fiction", 
          "Forrest Gump", 
          "Se7en", 
          "Joker", 
          "American History X", 
          "The Intouchables"]

In [15]:
# Import Neccessary package
import pandas as pd
# Loops 10 times over the movies list, one per page number
top_10_movies = pd.DataFrame(columns=["Movie Title", "imdbID"])
for movie in movies:
    # Concatenates movie with the url to create the url for each result page
    url = "http://www.omdbapi.com/?apikey="+api_key+"&s="+movie
    # Requesting the website's access to the server and storing the response
    response = requests.get(url, params = parameter)
    # Parsing the response
    movie_choice = json.loads(response.text)
    # Concatenating the search results under top_10_movies list
    top_10_movies = top_10_movies.append({"Movie Title" : movie_choice["Search"][0]["Title"], 
                                          "imdbID" : movie_choice["Search"][0]["imdbID"]}, ignore_index=True)

In [16]:
print(top_10_movies)

                Movie Title     imdbID
0                      Blow  tt0221027
1         Life Is Beautiful  tt0118799
2  The Shawshank Redemption  tt0111161
3          Schindler's List  tt0108052
4              Pulp Fiction  tt0110912
5              Forrest Gump  tt0109830
6                     Se7en  tt0114369
7                     Joker  tt7286456
8        American History X  tt0120586
9          The Intouchables  tt1675434

b) Augment the program you developed in (a) to look up the movie details using the imdbIDs you found (Use only the IDs, NOT titles) and print out the result to the screen.

In [17]:
# Loops 10 times over the movies list, one per page number
top_10_movie_dets = []
movie_ids = top_10_movies["imdbID"]
for movie_id in movie_ids:
    # Concatenates ids with the url to create the url for each result page
    url = "http://www.omdbapi.com/?apikey="+api_key+"&i="+movie_id
    # Requesting the website's access to the server and storing the response
    response = requests.get(url, params = parameter)
    # Parsing the response
    movie_choice = json.loads(response.text)
    # Concatenating the search results under top_10_movie_dets
    top_10_movie_dets.append(movie_choice)

In [18]:
print(top_10_movie_dets)

[{'Title': 'Blow', 'Year': '2001', 'Rated': 'R', 'Released': '06 Apr 2001', 'Runtime': '124 min', 'Genre': 'Biography, Crime, Drama', 'Director': 'Ted Demme', 'Writer': 'Bruce Porter (book), David McKenna (screenplay), Nick Cassavetes (screenplay)', 'Actors': 'Johnny Depp, Penélope Cruz, Franka Potente, Rachel Griffiths', 'Plot': 'The story of how George Jung, along with the Medellín Cartel headed by Pablo Escobar, established the American cocaine market in the 1970s in the United States.', 'Language': 'English', 'Country': 'USA', 'Awards': '3 wins & 9 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYjg5ZDkzZWEtZDQ2ZC00Y2ViLThhMzYtMmIxZDYzYTY2Y2Y2XkEyXkFqcGdeQXVyODAwMTU1MTE@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '55%'}, {'Source': 'Metacritic', 'Value': '52/100'}], 'Metascore': '52', 'imdbRating': '7.6', 'imdbVotes': '229,607', 'imdbID': 'tt0221027', 'Type': 'movie', 'DVD': '11 Sep 2001', 'BoxOffice': 'N/A', 'Production': 'New Line Cinema', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'Life Is Beautiful', 'Year': '1997', 'Rated': 'PG-13', 'Released': '12 Feb 1999', 'Runtime': '116 min', 'Genre': 'Comedy, Drama, Romance, War', 'Director': 'Roberto Benigni', 'Writer': 'Vincenzo Cerami (story and screenplay by), Roberto Benigni (story and screenplay by)', 'Actors': 'Roberto Benigni, Nicoletta Braschi, Giorgio Cantarini, Giustino Durano', 'Plot': 'When an open-minded Jewish librarian and his son become victims of the Holocaust, he uses a perfect mixture of will, humor, and imagination to protect his son from the dangers around their camp.', 'Language': 'Italian, German, English', 'Country': 'Italy', 'Awards': 'Won 3 Oscars. Another 67 wins & 51 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYmJmM2Q4NmMtYThmNC00ZjRlLWEyZmItZTIwOTBlZDQ3NTQ1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '80%'}, {'Source': 'Metacritic', 'Value': '59/100'}], 'Metascore': '59', 'imdbRating': '8.6', 'imdbVotes': '576,583', 'imdbID': 'tt0118799', 'Type': 'movie', 'DVD': '09 Nov 1999', 'BoxOffice': 'N/A', 'Production': 'Miramax', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'The Shawshank Redemption', 'Year': '1994', 'Rated': 'R', 'Released': '14 Oct 1994', 'Runtime': '142 min', 'Genre': 'Drama', 'Director': 'Frank Darabont', 'Writer': 'Stephen King (short story "Rita Hayworth and Shawshank Redemption"), Frank Darabont (screenplay)', 'Actors': 'Tim Robbins, Morgan Freeman, Bob Gunton, William Sadler', 'Plot': 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 'Language': 'English', 'Country': 'USA', 'Awards': 'Nominated for 7 Oscars. Another 21 wins & 35 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '9.3/10'}, {'Source': 'Rotten Tomatoes', 'Value': '90%'}, {'Source': 'Metacritic', 'Value': '80/100'}], 'Metascore': '80', 'imdbRating': '9.3', 'imdbVotes': '2,177,949', 'imdbID': 'tt0111161', 'Type': 'movie', 'DVD': '27 Jan 1998', 'BoxOffice': 'N/A', 'Production': 'Columbia Pictures', 'Website': 'N/A', 'Response': 'True'}, {'Title': "Schindler's List", 'Year': '1993', 'Rated': 'R', 'Released': '04 Feb 1994', 'Runtime': '195 min', 'Genre': 'Biography, Drama, History', 'Director': 'Steven Spielberg', 'Writer': 'Thomas Keneally (book), Steven Zaillian (screenplay)', 'Actors': 'Liam Neeson, Ben Kingsley, Ralph Fiennes, Caroline Goodall', 'Plot': 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.', 'Language': 'English, Hebrew, German, Polish', 'Country': 'USA', 'Awards': 'Won 7 Oscars. Another 83 wins & 49 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.9/10'}, {'Source': 'Rotten Tomatoes', 'Value': '97%'}, {'Source': 'Metacritic', 'Value': '94/100'}], 'Metascore': '94', 'imdbRating': '8.9', 'imdbVotes': '1,134,131', 'imdbID': 'tt0108052', 'Type': 'movie', 'DVD': '09 Mar 2004', 'BoxOffice': 'N/A', 'Production': 'Universal Pictures', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'Pulp Fiction', 'Year': '1994', 'Rated': 'R', 'Released': '14 Oct 1994', 'Runtime': '154 min', 'Genre': 'Crime, Drama', 'Director': 'Quentin Tarantino', 'Writer': 'Quentin Tarantino (stories), Roger Avary (stories), Quentin Tarantino', 'Actors': 'Tim Roth, Amanda Plummer, Laura Lovelace, John Travolta', 'Plot': 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.', 'Language': 'English, Spanish, French', 'Country': 'USA', 'Awards': 'Won 1 Oscar. Another 68 wins & 74 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.9/10'}, {'Source': 'Rotten Tomatoes', 'Value': '92%'}, {'Source': 'Metacritic', 'Value': '94/100'}], 'Metascore': '94', 'imdbRating': '8.9', 'imdbVotes': '1,710,921', 'imdbID': 'tt0110912', 'Type': 'movie', 'DVD': '19 May 1998', 'BoxOffice': 'N/A', 'Production': 'Miramax Films', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'Forrest Gump', 'Year': '1994', 'Rated': 'PG-13', 'Released': '06 Jul 1994', 'Runtime': '142 min', 'Genre': 'Drama, Romance', 'Director': 'Robert Zemeckis', 'Writer': 'Winston Groom (novel), Eric Roth (screenplay)', 'Actors': 'Tom Hanks, Rebecca Williams, Sally Field, Michael Conner Humphreys', 'Plot': 'The presidencies of Kennedy and Johnson, the events of Vietnam, Watergate, and other history unfold through the perspective of an Alabama man with an IQ of 75.', 'Language': 'English', 'Country': 'USA', 'Awards': 'Won 6 Oscars. Another 43 wins & 74 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '72%'}, {'Source': 'Metacritic', 'Value': '82/100'}], 'Metascore': '82', 'imdbRating': '8.8', 'imdbVotes': '1,682,983', 'imdbID': 'tt0109830', 'Type': 'movie', 'DVD': '28 Aug 2001', 'BoxOffice': '$330,000,000', 'Production': 'Paramount Pictures', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'Se7en', 'Year': '1995', 'Rated': 'R', 'Released': '22 Sep 1995', 'Runtime': '127 min', 'Genre': 'Crime, Drama, Mystery, Thriller', 'Director': 'David Fincher', 'Writer': 'Andrew Kevin Walker', 'Actors': 'Morgan Freeman, Andrew Kevin Walker, Daniel Zacapa, Brad Pitt', 'Plot': 'Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.', 'Language': 'English', 'Country': 'USA', 'Awards': 'Nominated for 1 Oscar. Another 26 wins & 40 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '81%'}, {'Source': 'Metacritic', 'Value': '65/100'}], 'Metascore': '65', 'imdbRating': '8.6', 'imdbVotes': '1,339,280', 'imdbID': 'tt0114369', 'Type': 'movie', 'DVD': '14 Apr 1997', 'BoxOffice': 'N/A', 'Production': 'New Line Cinema', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'Joker', 'Year': '2019', 'Rated': 'R', 'Released': '04 Oct 2019', 'Runtime': '122 min', 'Genre': 'Crime, Drama, Thriller', 'Director': 'Todd Phillips', 'Writer': 'Todd Phillips, Scott Silver, Bob Kane (based on characters created by), Bill Finger (based on characters created by), Jerry Robinson (based on characters created by)', 'Actors': 'Joaquin Phoenix, Robert De Niro, Zazie Beetz, Frances Conroy', 'Plot': 'In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.', 'Language': 'English', 'Country': 'Canada, USA', 'Awards': 'Won 2 Golden Globes. Another 27 wins & 129 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '69%'}, {'Source': 'Metacritic', 'Value': '59/100'}], 'Metascore': '59', 'imdbRating': '8.6', 'imdbVotes': '593,943', 'imdbID': 'tt7286456', 'Type': 'movie', 'DVD': '17 Dec 2019', 'BoxOffice': 'N/A', 'Production': 'Warner Bros. Pictures', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'American History X', 'Year': '1998', 'Rated': 'R', 'Released': '20 Nov 1998', 'Runtime': '119 min', 'Genre': 'Drama', 'Director': 'Tony Kaye', 'Writer': 'David McKenna', 'Actors': "Edward Norton, Edward Furlong, Beverly D'Angelo, Jennifer Lien", 'Plot': 'A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did.', 'Language': 'English', 'Country': 'USA', 'Awards': 'Nominated for 1 Oscar. Another 4 wins & 13 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZjA0MTM4MTQtNzY5MC00NzY3LWI1ZTgtYzcxMjkyMzU4MDZiXkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '83%'}, {'Source': 'Metacritic', 'Value': '62/100'}], 'Metascore': '62', 'imdbRating': '8.5', 'imdbVotes': '983,328', 'imdbID': 'tt0120586', 'Type': 'movie', 'DVD': '06 Apr 1999', 'BoxOffice': 'N/A', 'Production': 'New Line Cinema', 'Website': 'N/A', 'Response': 'True'}, {'Title': 'The Intouchables', 'Year': '2011', 'Rated': 'R', 'Released': '02 Nov 2011', 'Runtime': '112 min', 'Genre': 'Biography, Comedy, Drama', 'Director': 'Olivier Nakache, Éric Toledano', 'Writer': 'Olivier Nakache, Philippe Pozzo di Borgo (adapted from his autobiographical tale Le Second Souffle), Éric Toledano', 'Actors': 'François Cluzet, Omar Sy, Anne Le Ny, Audrey Fleurot', 'Plot': 'After he becomes a quadriplegic from a paragliding accident, an aristocrat hires a young man from the projects to be his caregiver.', 'Language': 'French, English', 'Country': 'France', 'Awards': 'Nominated for 1 Golden Globe. Another 38 wins & 39 nominations.', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTYxNDA3MDQwNl5BMl5BanBnXkFtZTcwNTU4Mzc1Nw@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '75%'}, {'Source': 'Metacritic', 'Value': '57/100'}], 'Metascore': '57', 'imdbRating': '8.5', 'imdbVotes': '706,708', 'imdbID': 'tt1675434', 'Type': 'movie', 'DVD': '05 Mar 2013', 'BoxOffice': '$13,179,837', 'Production': 'The Weinstein Company', 'Website': 'N/A', 'Response': 'True'}]

c) "Recycle" + augment your code from (2.d) to insert the following information of _your_ top 10 movie titles into a new SQL table named "omdb":

title, year, genre, director, imdb_rating, rotten_tomatoes, metacritic, plot, box_office.

Please store all ratings (imdb_rating, rotten_tomatoes, metacritic) all as full integers representing percentages, i.e., 8.5/10 = 85, 80% = 80.

In [19]:
# Loops 10 times over the movies list, one per page number
title = []
year = []
genre = []
director = []
imdb_rating = []
rotten_tomatoes = []
metacritic = []
plot = []
box_office = []

movie_details = pd.DataFrame(columns = ["Title", "Year", "Genre", "Director", "IMDB_Rating", "Rotten_tomatoes", 
                                        "Metacritic", "Plot", "Box_office"])

for i in range(10):
    # Pull out required information for each required feature and concatenate to create a list
    movie_details = movie_details.append({"Title":top_10_movie_dets[i]["Title"], "Year":top_10_movie_dets[i]["Year"],
                                          "Genre":top_10_movie_dets[i]["Genre"], "Director":top_10_movie_dets[i]["Director"],
                                          "IMDB_Rating":top_10_movie_dets[i]["imdbRating"], 
                                          "Rotten_tomatoes":top_10_movie_dets[i]["Ratings"][1]["Value"],
                                          "Metacritic":top_10_movie_dets[i]["Ratings"][2]["Value"],
                                          "Plot":top_10_movie_dets[i]["Plot"],
                                          "Box_office":top_10_movie_dets[i]["BoxOffice"]}, ignore_index=True)

In [20]:
# Standardizing the imdb rating (floating point on 0 scale to integers on 100 scale)
movie_details["IMDB_Rating"] = movie_details["IMDB_Rating"].astype(float)
movie_details["IMDB_Rating"] = (movie_details["IMDB_Rating"]*10).astype(int)

In [21]:
# Standardizing rotten tomatoes ratings (integers representing percentages)
# Remove "%" and convert the datatype to integer
movie_details["Rotten_tomatoes"] = (movie_details["Rotten_tomatoes"].str.replace(r'%', '')).astype(int)

In [22]:
# Standardizing metacritic ratings (integers representing percentages)
# Remove "/100" and convert the datatype to integer
movie_details["Metacritic"] = (movie_details["Metacritic"].str.replace(r'/100', '')).astype(int)

In [23]:
# Converting year into integer
movie_details["Year"] = movie_details["Year"].astype(int)
# Replacing N/A with empty string
movie_details["Box_office"] = movie_details["Box_office"].str.replace("N/A","")

In [24]:
# Create database if it doesnt exist
database_name = "ucdavis"
mysql_db.execute("CREATE DATABASE IF NOT EXISTS " + database_name)
mysql_db.execute("USE " + database_name)

In [25]:
# Create a table omdb with columns and assign them appropriate data types
table_name = "omdb"
mysql_db.execute("CREATE TABLE " + table_name +" (title VARCHAR(200), year INT, genre VARCHAR(40), director VARCHAR(70),"+
                 "imdb_rating INT, rotten_tomatoes INT, metacritic INT, plot VARCHAR(300), box_office VARCHAR(30))")
db.commit()
mysql_db.close()
db.close()

In [26]:
# using create_engine function from sqlalchemy to connect to the mysql database
from sqlalchemy import create_engine
user="root"
passwd = ""
host = "localhost"
port = "3306"
mysql_engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}:{3}/'.format(user, passwd, host, port) + database_name + "?use_pure=True")

In [27]:
# Using the mysql engine, writing the dataframe into the mysql table
movie_details.to_sql(table_name, con = mysql_engine, if_exists = 'append', chunksize = 100, index = False)
mysql_engine.dispose()